<% current_year = Time.now.year %>
<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text d-flex justify-content-start">
      <p><%= t('hyrax.footer.service_html') %></p>
      <p>Hyku v<%= Hyku::VERSION %> with Hyrax v<%= Hyrax::VERSION %></p>
    </div>
    <div class="ml-auto">
      <div class="navbar-text d-flex justify-content-end">
        <p><%= t('hyrax.footer.copyright_html', current_year: current_year) %></p>
        <p><%= t('hyrax.background_attribution_html') %></p>
        <% if user_signed_in? %>
          <p><%= link_to t("hyrax.toolbar.profile.logout"), main_app.destroy_user_session_path %></p>
        <% else %>
            <p><%= link_to t('hyku.footer.admin_login', default: [:'hyrax.toolbar.profile.login']), main_app.new_user_session_path %></p>
        <% end %>
      </div>
      <div class="navbar-text text-right">
        <p><a href="https://hykuforconsortia.palni.org/privacy" target="_blank">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</footer>
