<h2><%= t("hyrax.oer.works.form.related_versions") %></h2>
<%= render 'form_previous_version', f: f %>
<%= render 'form_newer_version', f: f %>
<%= render 'form_alternate_version', f: f %>
<%= render 'form_related_item', f: f %>
