<%# OVERRIDE Hyku 4.0.0 to enable markdown in the work title %>

<h3 class="sr-only"><%= t('hyrax.homepage.recently_uploaded.document.title_label') %></h3>
<%= link_to(generate_work_url(recent_document.to_h, request)) do %>
  <div class="recently-uploaded pb-3 col-6 col-md-6">
    <<%= render_thumbnail_tag recent_document, {class: 'img-fluid mx-auto d-block'}, {suppress_link: true} %>
      <div class="recent-doc-title">
        <%= link_to [main_app, recent_document] do %>
          <h3><%= markdown(recent_document.title_or_label) %></h3>
        <% end %>
    </div>
  </div>
<% end %>
