<button
  class="btn btn-default btn-block citations-button center-block"
  data-toggle="collapse"
  href="#collapse-citations"
  role="button"
  aria-expanded="false"
  aria-controls="collapse-citations"
>
  <%= t('.header') %>
</button>
         
<div id="collapse-citations" class="collapse">
  <br/>
  <h4>MLA citation style (9th ed.)</h4>
  <span class="mla-citation"><%= export_as_mla_citation(@presenter) %>
  <%= request.original_url.sub(/^https?\:\/\/(www.)?/,'') %>.
  </span>
  <br /><br />

  <h4>APA citation style (7th ed.)</h4>
  <span class="apa-citation"><%= export_as_apa_citation(@presenter) %>
   <%= request.original_url %>
  </span>
  <br /><br />

  <h4>Chicago citation style (CMOS 17, author-date)</h4>
  <span class="chicago-citation"><%= export_as_chicago_citation(@presenter) %>
  <%= request.original_url %>.</span>
  <br /><br />

  <p>
    <strong>Note:</strong>
    These citations are programmatically generated and may be incomplete.
  </p>
</div>